---
pageable: true
per_page: 10
---
<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div class="articles container cf">
  <div class="center row">
    <% page_articles.each do |article| %>
      <%= partial "layouts/article_thumb", :locals=>{:article => article} %>
    <% end %>
  </div>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
